<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <div class="row">
	  <img src="{{site.imagesurl}}/dp.jpg" class="profile gs hv circle-img" style="float:none;margin-right: auto;margin-bottom: 10px;margin-top: 7px;width: 50%;display: block;margin-left: auto;"/>
    </div>
    </div>

<div class="row">
    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      {% assign pages_list = site.pages | sort:"weight" %}
      {% for node in pages_list %}
        {% if node.title != null %}
		  {% if node.type == "navigation" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
	  <hr>
    </nav>
    </div>
	<div class="sidebar-footer">
	  <div class="sidebar-footer-text">
	    <span>soberCV</span>
	  </div>
	  <div class="sidebar-footer-logo">
			<img src="{{site.imagesurl}}/logo.png" width=25%>
	  </div>
	  <div class="sidebar-footer-text">
		<span>&copy; <a href="{{ site.github.site }}">TheColdViews</a> {{ site.time | date: '%Y' }}.</span><br>
		<span>All rights reserved.</span>
	  </div>
    </div>
    
  </div>
</div>
