<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
	  <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      {% assign pages_list = site.pages | sort:"weight" %}
      {% for node in pages_list %}
        {% if node.title != null %}
		  {% if node.type == "navigation" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="sidebar-footer">
    <div class="sidebar-footer-text">
      <span><i>Some parts of this site are still under construction and will be updated soon.</i></span>
    </div>
    </div>
	  <hr>
    </nav>
	<div class="sidebar-footer">
	  <div class="sidebar-footer-text">
	    <span>soberCV</span>
	  </div>
	  <div class="sidebar-footer-logo">
			<img src="{{site.imagesurl}}/logo.png" width=25%>
	  </div>
	  <div class="sidebar-footer-text">
	    <a href="{{ site.github.repo }}">fork on github</a> <span>-Currently v{{ site.version }}</span>
	  </div>
	  <div class="sidebar-footer-text">
		<span>&copy; <a href="{{ site.github.site }}">FrozenInk</a> {{ site.time | date: '%Y' }}.</span>
		<span>All rights reserved.</span>
	  </div>
    </div>
    
  </div>
</div>
