<div class="sidebar_m">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
	  <p class="lead">{{ site.description }}</p>
    </div>

    
	<div class="sidebar-footer_m">
  <div class="sidebar-footer-logo_m">
      <img src="{{site.imagesurl}}/logo.png" width=10%>
    </div>
	  <div class="sidebar-footer-text">
	    <span>soberCV</span>
	  </div>

	  <div class="sidebar-footer-text">
		<span>&copy; <a href="{{ site.github.site }}">TheColdViews</a> {{ site.time | date: '%Y' }}.</span>
		<span>All rights reserved.</span>
	  </div>
    </div>
    
  </div>
</div>
