---
layout: default
---
<h1>{{page.title}}</h1>
These are some of the {{page.title}} I have been a part of in the last few years - some as course projects during my undergrad. and rest independently outside coursework.
<div class="posts">
  {% assign projects = site.projects | sort:"weight" %}
  {% for pro in projects %}
	{% if page.category == pro.category %}
	  <div class="projects">
	  <table>
	  <tr>
	  <td  width="70%">
		<table>
		  <tr>
			<td>
				<h2>
					<a href="{{ pro.url }}">
						{{ pro.name}}
					</a><span class="lead"> {{ pro.intro }}</span>
				</h2>
			</td>
		  </tr>
		  <tr>
			<td>

				{% if(pro.special) %}
					<table>
					<tr>
					<td width = "10%">
					<img width = "100%"  title="weblink/facebook" src="{{site.iconsurl}}/special.png">
					</td>
					<td width="90%">
					<i> {{pro.special }}</i>
					</td>
					</tr>
					</table>
				{% endif %}
			

				{% if(pro.guide) %}
					<b>Guide:</b> <span class="lead">{{ pro.guide }}</span>
					<br>
				{% endif %}
				
				{% if(pro.teamsize) %}
					<b>Team Size:</b> <span class="lead">{{ pro.teamsize }}</span>
					<br>
				{% endif %}
				
				{% if(pro.teammembers) %}
					<b>Team Member(s):</b> <span class="lead">{{ pro.teammembers }}</span>
					<br>
				{% endif %}
				
				{% if(pro.course) %}
					<b>Course:</b> <span class="lead">{{ pro.course }}</span>
					<br>
				{% endif %}
				
				{% if(pro.period) %}
					<b>Time Period:</b> <span class="lead">{{pro.period}}</span>
					<br>
				{% endif %}
				
				{% if(pro.technology) %}
					<b>Technologies/Concepts Used:</b> <span class="lead">{{pro.technology}}</span>
					<br>
				{% endif %}

				{% if(pro.published) %}
					<font color="#edc436"><b>Associated Publication(s):</b></font> <br> <a href="/publication"><span class="lead">{{pro.published}}</span></a>
					<br>
				{% endif %}

				{% if(pro.patented) %}
					<font color="#edc436"><b>Associated Patent(s):</b></font> <br> <a href="/patent"><span class="lead">{{pro.patented}}</span></a>
					<br>
				{% endif %}
				<p>{{ pro.excerpt }}</p>
			</td>
		  </tr>
		  <tr>
			<td colspan="2">
				{% if(pro.reference) %}
					<a href="{{ pro.reference }}" target=_blank><img class="icon" title="Report" src="{{site.iconsurl}}/pdf.png"></a>
				{% endif %}
				{% if(pro.code) %}
					<a href="{{ pro.code }}" target=_blank><img class="icon" title="Code" src="{{site.iconsurl}}/code.png"></a>
				{% endif %}
				{% if(pro.database) %}
					<a href="{{ pro.database }}" target=_blank><img class="icon" title="Database" src="{{site.iconsurl}}/database.png"></a>
				{% endif %}
				{% if(pro.demo) %}
					<a href="{{ pro.demo }}" target=_blank><img class="icon" title="Demo" src="{{site.iconsurl}}/play.png"></a>
				{% endif %}
				{% if(pro._url) %}
					<a href="{{ pro._url }}" target=_blank><img class="icon" title="weblink" src="{{site.iconsurl}}/www.png"></a>
				{% endif %}
			</td>
		  </tr>
		</table>
		</td>
		<td  width="30%" align="center">
			<img width="90%" style="box-shadow: 5px 5px 5px #888888;" src = "{{site.projectthumbnails}}/{{pro.projectimage}}">
		</td>
		</tr>
		</table>
	  </div>
	  {% endif %}
  {% endfor %}
</div>
