---
layout: default
---
<h1>{{page.title}}</h1>
<div class="posts">
  {% assign teaching = site.teaching | sort:"weight" %}
  {% for _teaching in teaching %}
  <div class="teaching">
    <table>
	  <tr>
		<td width="75%">
			<h2>
				<a href="{{ _teaching.url }}">
					{{ _teaching.position}}
				</a><span class="lead">, <a href="{{ _teaching.institute_url }}">{{ _teaching.title }}</a></span>
			</h2>
		</td>
		<td width="25%" align="center">
			<h2>
				{{_teaching.period}}
			</h2>
		</td> 
	  </tr>
	  <tr>
		<td>
			{% if(_teaching.guide) %}
					<b>Instructor(s):</b> <span class="lead">{{ _teaching.guide }}</span>
					<br>
			{% endif %}
			<p>{{ _teaching.excerpt }}</p>
		</td>
		<td align="center">
			 <a href="{{ _teaching.institute_url }}"><img class="logo" src="{{site.logosurl}}/{{ _teaching.logo }}"></a>
		</td>
	  </tr>
	  <tr>
		<td colspan="2">
			{% if(_teaching.reference) %}
				<a href="{{ _teaching.reference }}" target=_blank><img class="icon" title="Report" src="{{site.iconsurl}}/pdf.png"></a>
			{% endif %}
			{% if(_teaching.code) %}
				<a href="{{ _teaching.code }}" target=_blank><img class="icon" title="Code" src="{{site.iconsurl}}/code.png"></a>
			{% endif %}
			{% if(_teaching.database) %}
				<a href="{{ _teaching.database }}" target=_blank><img class="icon" title="Database" src="{{site.iconsurl}}/database.png"></a>
			{% endif %}
			{% if(_teaching.demo) %}
				<a href="{{ _teaching.demo }}" target=_blank><img class="icon" title="Demo" src="{{site.iconsurl}}/play.png"></a>
			{% endif %}
			{% if(_teaching._url) %}
				<a href="{{ _teaching._url }}" target=_blank><img class="icon" title="weblink/facebook" src="{{site.iconsurl}}/www.png"></a>
			{% endif %}
		</td>
	  </tr>
	</table>
  </div>
  {% endfor %}
</div>
