---
layout: default
---
<h1>{{page.title}}</h1>
<div align="center">
  <img width="80%" src="{{site.imagesurl}}/administratives.jpg">
  <p style="text-align:center">Ink. - Design Club, IIIT-Delhi</p>
 </div>

<div class="posts">
  {% assign administrative = site.administrative | sort:"weight" %}
  {% for _administrative in administrative %}
  <div class="administrative"  id="asd">
    <table>
    <tr>
    <td width="75%">
      <h2>
        <!-- <a href="{{ _administrative.url }}"> -->
          {{ _administrative.position}}
        <!-- </a> --><span class="lead">, {{ _administrative.title }}</span>
      </h2>
      <table>
        <tr>
          <td>
            {% if(_administrative.institute) %}
              Place of Work: <span class="lead">{{ _administrative.institute }}</span>
            {% endif %}
            <p>{{ _administrative.excerpt }}</p>
            <!--[<a href="{{ _administrative.url }}">Learn more</a>]-->

            {% if(_administrative._url) %}
              <a href="{{ _administrative._url }}" target=_blank><img width = "7%" title="weblink/facebook" src="{{site.iconsurl}}/www.png"></a>
            {% endif %}
          </td>
        </tr>
      </table>

    </td>
    <td width="25%" align="center">
      <h2>
        {{_administrative.period}}
      </h2>
      <a target=_blank href="{{ _administrative.institute_url }}"><img class="logo" src="{{site.logosurl}}/{{ _administrative.logo }}"></a>
    </td> 
    </tr>
    
  </table>
  </div>
  {% endfor %}
</div>
