---
layout: default
---
<h1>{{page.title}}</h1>
<div class="posts">
  {% assign certificate = site.certificate | sort:"weight" %}
  {% for _certificate in certificate %}
  <div class="certificate"  id="asd">
    <table>
	  <tr>
		<td width="75%">
			<h2>
					{{ _certificate.certificate }}
				<span class="lead">| {{ _certificate.from }}</span>
			</h2>
		</td>
		<td width="25%" align="center">
			<h2>
				{{_certificate.period}}
			</h2>
		</td> 
	  </tr>
	  <tr>
		<td>
			<p>{{ _certificate.excerpt }}</p>
		</td>
		<td align="center">
			 <a target=_blank href="{{ _certificate.institute_url }}"><img class="logo" src="{{site.logosurl}}/{{ _certificate.logo }}"></a>
		</td>
	  </tr>
	  <tr>
		<td colspan="2">
			{% if(_certificate.certificate_url) %}
				<a href="{{ _certificate.certificate_url }}" target=_blank><img class="smallicon" title="weblink/facebook" src="{{site.iconsurl}}/www.png"></a>
			{% endif %}
		</td>
	  </tr>
	</table>
  </div>
  {% endfor %}
</div>
