---
layout: default
---
<h1>{{page.title}}</h1>
<div class="posts">
  {% assign miscellaneous = site.misc | sort:"weight" %}
  {% for misc in miscellaneous %}
  <div class="miscellaneous">
    <table>
	  <tr>
		<td width="75%">
			<h2>
					{{ misc.title}}<span class="lead">, {{ misc.purpose }}</span>
			</h2>
		</td>
		<td width="25%" align="center">

		</td> 
	  </tr>
	  <tr>
		<td colspan="2" align="center">
			 <img src="{{site.headersurl}}/{{ misc.header }}">
		</td>
	  </tr>
	  <tr>
		<td colspan="2">
			<p>{{ misc.excerpt }}</p>
      <a target="_blank" href="{{misc.link}}"><b><i>
        Behance
      </i></b></a> | 
      <a target="_blank" href="{{misc.blog}}"><b><i>
        Blog
      </i></b></a>
		</td>
	   </tr>
	</table>
  <div align="center">
  <img width = "60%" src="{{site.projectthumbnails}}/tcv_sample.png">
  </div>
  </div>
  {% endfor %}
</div>
