---
layout: default
---
<h1>{{page.title}}</h1>
<div class="posts">
  {% assign miscellaneous = site.misc | sort:"weight" %}
  {% for misc in miscellaneous %}
  <div class="miscellaneous">
    <table>
	  <tr>
		<td width="75%">
			<h2>
				<a href="{{ misc.url }}" target="_blank">
					{{ misc.title}}
				</a><span class="lead">, {{ misc.purpose }}</span>
			</h2>
		</td>
		<td width="25%" align="center">
			<a target="_blank" href="{{misc.link}}"><b><i>
				{{misc.link}}
			</i></b></a>
		</td> 
	  </tr>
	  <tr>
		<td colspan="2" align="center">
			 <img src="{{site.headersurl}}/{{ misc.header }}">
		</td>
	  </tr>
	  <tr>
		<td colspan="2">
			<p>{{ misc.excerpt }}</p>
		</td>
	   </tr>
	</table>
  </div>
  {% endfor %}
</div>
