---
layout: default
---
<h1>{{page.title}}</h1>
<div class="posts">
  {% assign projects = site.projects | sort:"weight" %}
  {% for pro in projects %}
	{% if page.category == pro.category %}
	  <div class="projects">
		<table>
		  <tr>
			<td width="100%">
				<h2>
					<a href="{{ pro.url }}">
						{{ pro.name}}
					</a><span class="lead"> {{ pro.intro }}</span>
				</h2>
			</td>
		  </tr>
		  <tr>
			<td>
				{% if(pro.guide) %}
					<b>Guide:</b> <span class="lead">{{ pro.guide }}</span>
					<br>
				{% endif %}
				
				{% if(pro.teamsize) %}
					<b>Team Size:</b> <span class="lead">{{ pro.teamsize }}</span>
					<br>
				{% endif %}
				
				{% if(pro.teammembers) %}
					<b>Team Member(s):</b> <span class="lead">{{ pro.teammembers }}</span>
					<br>
				{% endif %}
				
				{% if(pro.course) %}
					<b>Course:</b> <span class="lead">{{ pro.course }}</span>
					<br>
				{% endif %}
				
				{% if(pro.period) %}
					<b>Time Period:</b> <span class="lead">{{pro.period}}</span>
					<br>
				{% endif %}
				
				{% if(pro.technology) %}
					<b>Technology Used:</b> <span class="lead">{{pro.technology}}</span
					<br>
				{% endif %}
				
				<p>{{ pro.excerpt }}</p>
			</td>
		  </tr>
		  <tr>
			<td colspan="2">
				{% if(pro.reference) %}
					<a href="{{ pro.reference }}" target=_blank><img class="icon" title="Report" src="{{site.iconsurl}}/pdf.png"></a>
				{% endif %}
				{% if(pro.code) %}
					<a href="{{ pro.code }}" target=_blank><img class="icon" title="Code" src="{{site.iconsurl}}/code.png"></a>
				{% endif %}
				{% if(pro.database) %}
					<a href="{{ pro.database }}" target=_blank><img class="icon" title="Database" src="{{site.iconsurl}}/database.png"></a>
				{% endif %}
				{% if(pro.demo) %}
					<a href="{{ pro.demo }}" target=_blank><img class="icon" title="Demo" src="{{site.iconsurl}}/play.png"></a>
				{% endif %}
				{% if(pro._url) %}
					<a href="{{ pro._url }}" target=_blank><img class="icon" title="weblink" src="{{site.iconsurl}}/www.png"></a>
				{% endif %}
			</td>
		  </tr>
		</table>
	  </div>
	  {% endif %}
  {% endfor %}
</div>
