---
layout: default
---
<h1>{{page.title}}</h1>
  <div align="center">
  <img width = "50%" src="{{site.imagesurl}}/tcv_sample.png">
  <p style="text-align: center">Birthday Woes</p>
  </div>
<div class="posts">
  {% assign miscellaneous = site.misc | sort:"weight" %}
  {% for misc in miscellaneous %}
  <div class="miscellaneous">
    <table>
	  <tr>
		<td width="75%">
			<h2>
					{{ misc.title}}<span class="lead">, {{ misc.purpose }}</span>
			</h2>
		</td>
		<td width="25%" align="center">

		</td> 
	  </tr>
<!-- 	  <tr>
		<td colspan="2" align="center">
			 <img src="{{site.headersurl}}/{{ misc.header }}">
		</td>
	  </tr> -->
	  <tr>
		<td colspan="2">
    I have always liked to sketch my ideas in the form of illustrations, and maintain some of the work I did during my Undergrad on my <b><a target="_blank" href="{{misc.link}}">behance page</a></b>. 
    I gave this liesure pursuit a formal platform by co-founding the design club at IIIT-Delhi, <b><a target="_blank" href="http://ink.iiitd.edu.in">Ink</a></b>.
    I continue to create illustrations for my <b><a target="_blank" href="{{misc.blog}}">blog</a></b> as a hobby. 
		</td>
	   </tr>
	</table>
  </div>
  {% endfor %}
</div>
