---
layout: default
---

<h1>{{site.title}}</h1> <img src="{{site.imagesurl}}/dp.jpg" class="profile gs hv circle-img"/>
<p><strong>I hold the position of Research Software Engineer at <a
href="http://researcher.ibm.com/researcher/view.php?person=in-sarahuja">IBM Research</a>, working in the <a
href="http://researcher.ibm.com/researcher/view _group.php?id=7806">Collaborative Cognition</a> group.</strong> </p> <p>My current 
work includes building the cognitive platform <a href="https://www.ibm.com/watson/talent/recruitment/">IBM Watson
Recruitment (IWR)</a> under Watson Talent Management. Besides developing the platform, I also 
work on extending <a href="http:// researcher.ibm.com/researcher/view_group_subpage.php?id=7807">Collaborative Decision
Making</a> to the recruitment system. This emobodiment of decentralized artificial intelligence allows for multiple stakeholders to share their private knowledge, beliefs, intent and desires over a sequential gameplay and collectively reach a consensus on which candidates to hire.
</p>

<p>Someday I want to build truly adaptive intelligent systems which are capable of not just co-existing but <b>co-evolving alongside humans</b>. My research interests include human cognition and it's implementation in intelligent systems, enabling them to <b>better understand human intent and behaviour</b>.<br>

<p> Prior to IBM, I graduated with an bachelor's degree in
Computer Science from <a href="http://www.iiitd.ac.in">IIIT-Delhi</a> working primarily in the domain of machine learning and
computer vision; Head of Product Development(Web) at <a href="http://meriawaazapp.com">Meri Awaaz</a>; Member of the
core team at <a href="https://www.facebook.com/swarathatiiitd/">Swarath</a> (Autonomous Car Team @IIIT-Delhi) where I
worked on the perception module;  Research Associate at <a href="http://precog.iiitd.edu.in/">Precog</a> (Social Media
Analytics Group @IIIT-Delhi) where I explored visual summarization of social media datasets. </p>

<p>I am always open to meeting people and discussing ideas and opportunities. Find my contact details <a
href="{{site.url}}/contact/">here</a>. <br></p>




