---
layout: default
---

<h1>{{page.title}}</h1>
<strong>TF09, IBM Research, New Delhi</strong>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14019.525111582452!2d77.148184!3d28.543288!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ecec08538f0bf1e!2sIBM+India+Research+Laboratory!5e0!3m2!1sen!2sin!4v1511057636225" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
<br>
<a href="{{site.linkedin}}" target=_blank><img class="icon" src="{{site.iconsurl}}/linkedin.png"></a>
<a href="{{site.twitter}}" target=_blank><img class="icon" src="{{site.iconsurl}}/twitter.png"></a>
<a href="{{site.facebook}}" target=_blank><img class="icon" src="{{site.iconsurl}}/facebook.png"></a>
<a href="{{site.instagram}}" target=_blank><img class="icon" src="{{site.iconsurl}}/instagram.png"></a>
<a href="{{site.github.mine}}" target=_blank><img class="icon" src="{{site.iconsurl}}/github.png"></a>
<a href="{{site.behance}}" target=_blank><img class="icon" src="{{site.iconsurl}}/behance.png"></a>
<a href="mailto:{{site.mail}}" target=_blank><img class="icon" src="{{site.iconsurl}}/mail.png"></a>


