---
layout: default
---

<h1>{{site.title}}</h1> <img src="{{site.imagesurl}}/dp.jpg" class="profile gs hv circle-img"/>

<p><strong>Robotics Graduate Student at Carnegie Mellon University</strong></p>

<p>Prior to grad school, I was a Research Engineer at <a
href="http://researcher.ibm.com/researcher/view.php?person=in-sarahuja">IBM Research</a>, working in the <a
href="http://researcher.ibm.com/researcher/view_group.php?id=7806">Collaborative Cognition</a> group. I started as a member of the core team building the cognitive platform <a href="https://www.ibm.com/watson/talent/recruitment/">IBM Watson
Recruitment (IWR)</a> and later transitioned into extending <a href="http://researcher.ibm.com/researcher/view_group_subpage.php?id=7807">Collaborative Decision
Making</a> to the cognitive recruitment ecosystem. In simple words, this can be thought of as an embodiment of decentralized artificial intelligence that allowed for multiple stakeholders/intelligent autonomous agents to share their private knowledge, beliefs, and intentions over a sequential privacy-preserving gameplay and collectively reach a consensus on which candidates to hire.
</p>

<p>Someday I want to build truly adaptive intelligent systems which are capable of not just co-existing but <b>co-evolving alongside us humans</b>. While my technical research background has been scattered in statistical machine learning methods, geometric computer vision and image understanding, planning and decision making in multi-agent networks, natural language processing for information extraction; my philosophical research interests continue to revolve around the mysteries of human cognition and how their application in intelligent systems can enable them to <b>better collaborate (understand, communicate, act) with us</b> and eventually become entities that are welcomed as our everyday companions.<br>

<p>Like most people I am thoroughly entertained by science-fiction literature and drama around robotics/AI even though it might seem to be dark, bleak and apocalyptic. Even though a part of me would love to see this happen for the excitement and storyline such a situation would provide; when saner thoughts prevail my motivation behind pursuing the field is to enhance human capability. I believe there are two kinds of things we are not supposed to be doing (or at least not supposed to be doing alone) - <br>
<ul>
<li> difficult things, which we are not physically/mentally capable of doing. </li>
<li> mundane things, which consume our time that could have been better spent on pursuits like creativity, ideation, relationships, politics and social good. </li>
</ul>
I see AI and robotics as evolutionary catalysts capable of solving fundamental things beyond automation - particularly breaking social-constructs that dictate the role an individual plays in society. 
<br>
<b>TL;DR: I want a robot to make a sandwich for me</b>. 
</p>
<p>I am always open to meeting people and discussing ideas and opportunities. Find my contact details <a
href="{{site.url}}/contact/">here</a>. <br></p>




