---
layout: default
---
<h1>{{page.name}}</h1>
<div class="row">
    <table>
	  <tr>
		<td width="50%">
		    <img width="90%" style="box-shadow: 5px 5px 5px #888888;" src = "{{site.projectthumbnails}}/{{page.projectimage}}">
		</td>
		<td width="50%">
				{% if(page.guide) %}
					<b>Guide:</b> <span class="lead">{{ page.guide }}</span>
					<br>
				{% endif %}
				
				{% if(page.teamsize) %}
					<b>Team Size:</b> <span class="lead">{{ page.teamsize }}</span>
					<br>
				{% endif %}
				
				{% if(page.teammembers) %}
					<b>Team Member(s):</b> <span class="lead">{{ page.teammembers }}</span>
					<br>
				{% endif %}
				
				{% if(page.course) %}
					<b>Course:</b> <span class="lead">{{ page.course }}</span>
					<br>
				{% endif %}
				
				{% if(page.period) %}
					<b>Time Period:</b> <span class="lead">{{page.period}}</span>
					<br>
				{% endif %}
				
				{% if(page.technology) %}
					<b>Technologies/Concepts Used:</b> <span class="lead">{{page.technology}}</span>
					<br>
				{% endif %}

         {% if(page.special) %}
          <table>
          <tr>
          <td width = "10%">
          <img width = "100%"  title="highlight" src="{{site.iconsurl}}/special.png">
          </td>
          <td width="93%">
          <i> {{page.special }}</i>
          </td>
          </tr>
          </table>
        {% endif %}

                        {% if(page.published) %}
          <font color="#edc436"><b>Associated Publication(s):</b></font> <br> 
          <ul>
          {% for pub in page.published %}
            <li><a href="/publication"><span class="lead">{{pub}}</span></a></li>
          
          {% endfor %}
          </ul>
        {% endif %}

        {% if(page.patented) %}
          <font color="#edc436"><b>Associated Patent(s):</b></font> <br> 

          <ul>
          {% for pat in page.patented %}
            <li><a href="/patent"><span class="lead">{{pat}}</span></a></li>
          
          {% endfor %}
          </ul>
        {% endif %}
				
		</td> 
	  </tr>
	</table>
 
	</div>
	<div class="row">
{% if(page.reference) %}
					<a href="{{ page.reference }}" target=_blank><img class="smallicon" title="Report" src="{{site.iconsurl}}/pdf.png"></a>
				{% endif %}
				{% if(page.code) %}
					<a href="{{ page.code }}" target=_blank><img class="smallicon" title="Code" src="{{site.iconsurl}}/code.png"></a>
				{% endif %}
				{% if(page.database) %}
					<a href="{{ page.database }}" target=_blank><img class="smallicon" title="Database" src="{{site.iconsurl}}/database.png"></a>
				{% endif %}
				{% if(page.demo) %}
					<a href="{{ page.demo }}" target=_blank><img class="smallicon" title="Demo" src="{{site.iconsurl}}/play.png"></a>
				{% endif %}
        {% if(page.slides) %}
          <a href="{{ page.slides }}" target=_blank><img class="smallicon" title="Slides" src="{{site.iconsurl}}/slides.png"></a>
        {% endif %}
        {% if(page.poster) %}
          <a href="{{ pageposter }}" target=_blank><img class="smallicon" title="Poster" src="{{site.iconsurl}}/poster.png"></a>
        {% endif %}
				{% if(page._url) %}
					<a href="{{ page._url }}" target=_blank><img class="smallicon" title="weblink/facebook" src="{{site.iconsurl}}/www.png"></a>
				{% endif %}

	</div>
<div class="row">
    	{{content}}
</div>
<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 4000); // Change image every 2 seconds
}
</script>