---
layout: default
---

<h1>{{site.title}}</h1> <img src="{{site.imagesurl}}/dp.jpg" class="profile gs hv circle-img"/>

<p><strong>Robotics Graduate Student at Carnegie Mellon University</strong></p>

<p>Previously I held the position of Research Software Engineer at <a
href="http://researcher.ibm.com/researcher/view.php?person=in-sarahuja">IBM Research</a>, working in the <a
href="http://researcher.ibm.com/researcher/view_group.php?id=7806">Collaborative Cognition</a> group. </p> <p>I was a member of the core team building the cognitive platform <a href="https://www.ibm.com/watson/talent/recruitment/">IBM Watson
Recruitment (IWR)</a>. Besides developing the platform, I also 
worked on extending <a href="http://researcher.ibm.com/researcher/view_group_subpage.php?id=7807">Collaborative Decision
Making</a> to the recruitment ecosystem. This embodiment of decentralized artificial intelligence allowed for multiple stakeholders/intelligent autonomous agents to share their private knowledge, beliefs, and intentions over a sequential privacy-preserving gameplay and collectively reach a consensus on which candidates to hire.
</p>

<p>Someday I want to build truly adaptive intelligent systems which are capable of not just co-existing but <b>co-evolving alongside humans</b>. While my technical research background is in statistical machine learning methods, geometric computer vision and image understanding, planning and decision making in multi-agent networks, natural language processing for data science, my philosophical research interests continue to revolve around the mysteries of human cognition and how it's implementation in intelligent systems can enabling them to <b>better interact with us</b> and eventually become welcomed as our everyday companions.<br>

<p>I am always open to meeting people and discussing ideas and opportunities. Find my contact details <a
href="{{site.url}}/contact/">here</a>. <br></p>




