---
layout: manifesto_page
---
<p>
<h2>MY ULTIMATE LIFE GOAL <span class="lead" style="font-size: 1.3rem">is to build a company that makes people's life easier, be it through enabling products to automate work or tackling a real world problem by finding a smart solution.</span></h2> 
</p>
<p>
<h2>MY CURRENT GOAL <span class="lead" style="font-size: 1.3rem">is to be an active researcher in the field of computer science. I have a special interest in <i>machine learning, computer vision and artificial intelligence</i> and am looking forward to apply for higher education in the same.</span></h2> 
</p>
<p>
<h2>I AM ABOUT TO GRADUATE <span class="lead" style="font-size: 1.3rem">from IIIT-Delhi come May, 2016 with an undergraduate degree in computer science.</span></h2> 
</p>
<p>
<h2>I GET A HIGH FROM <span class="lead" style="font-size: 1.3rem">learning something new, building systems, meeting new people and discovering new places.</span></h2> 
</p>
<p>
<h2>I'M WORKING ON <span class="lead" style="font-size: 1.3rem">my personal fitness, reading a book every week, effective time management and putting my unsettling creativity to good use.</span></h2> 
</p>
<p>
<h2>I LOVE <span class="lead" style="font-size: 1.3rem">to code, design graphics, solve difficult puzzles, play all kinds of sports, lead teams towards specific goals, and teach students what I know.</span></h2> 
</p>
<p>
<h2>WHAT I NEED IS <span class="lead" style="font-size: 1.3rem">witty humor, brilliant spontaneous people around me, stimulating intellectual conversations and cool projects to work on.</span></h2> 
</p>
<p>
<h2>MY PHILOSOPHY IN LIFE <span class="lead" style="font-size: 1.3rem">is to do what you love and love what you do but only after you <i>give everything a fair shot at making you fall in love with it.</i></span></h2> 
</p>
<p>
<h2><a href="http://makeavisionboard.com/what-is-a-vision-board/">MY VISION BOARD</a> <span class="lead" style="font-size: 1.3rem">looks something like this:</span></h2> 
<div align="center"><img src="{{site.imagesurl}}/vision_board.png" width=70%></div>
</p>




