---
layout: default
---

<h1>{{page.title}}</h1>
<strong>C-313, Boys Hostel, IIIT-Delhi</strong>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.748063202986!2d77.27100715078089!3d28.54729138236531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x86fdc5f910dd5828!2sBoys+Hostel!5e0!3m2!1sen!2sin!4v1449587632202" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
<br>
<a href="{{site.linkedin}}" target=_blank><img class="icon" src="{{site.iconsurl}}/linkedin.png"></a>
<a href="{{site.twitter}}" target=_blank><img class="icon" src="{{site.iconsurl}}/twitter.png"></a>
<a href="{{site.facebook}}" target=_blank><img class="icon" src="{{site.iconsurl}}/facebook.png"></a>
<a href="{{site.github.mine}}" target=_blank><img class="icon" src="{{site.iconsurl}}/github.png"></a>
<a href="{{site.behance}}" target=_blank><img class="icon" src="{{site.iconsurl}}/behance.png"></a>
<a href="mailto:{{site.mail}}" target=_blank><img class="icon" src="{{site.iconsurl}}/mail.png"></a>


