---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</div>
<div class="share-page">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><img class="icon" src="{{site.iconsurl}}/twitter.png"></a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img class="icon" src="{{site.iconsurl}}/facebook.png"></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><img class="icon" src="{{site.iconsurl}}/linkedin.png"></a>
</div>

